
:root{
    --a : 0;
    --b : 30%;
}

.right{
    width: 80vw;
    padding: 0px;
}
.header{
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.header > *{
    padding: 20px;
}
.search img{
    width: 18px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    border-radius: 20px;
    max-height: 20px;
    width: 60%;
    padding: 20px;
}
.search input{
    border-radius: 10px;
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 16px;
    padding-left: 20px;
    color: #fff;
}

.main > *{
    padding-top: 30px;
    padding-left: 40px;
}
.main{
    height: 542px;
    overflow-y: scroll;
}
.playlist h1{
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cardcontainer{
    gap: 76px;
    flex-wrap: wrap;
    height: 50vh;
}
.card{
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    transition: all 0.5s;
}
.card:hover{
    background-color: #272727;
    --a:1;
    --b:46%;
}
.card > *{
    padding-top: 3px;
}

.card p{
    font-size: 14px;
    color: #b3b3b3;
}
.posterimg{
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    height: 40vh;
    position: relative;
}
.playbtn{
    position: absolute;
    top: var(--b);
    left: 45%;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    opacity: var(--a);
    transition: all 0.5s;
}
.playicon{
    fill: rgba(72, 147, 177, 0.705);
    width: 30px;
    height: auto;
}

.lyricsBox{
    display: none;
    position: relative;
    width: 40vw;
    background-color: #111111;
    /* border-radius: 5px; */
    height: 616px;
    margin-top: 5px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
#lyrictop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    height: 40px;
    color: rgba(67, 129, 129, 0.925);
}
#lyrictop img{
    width: 30px;
    height: 30px;
}
.lyricsonginfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    z-index: 1;
    width: 100%;
}
.lyricscontainer{
    flex-direction: column;
}
.lyricheading img{
    width: 360px;
    height: 360px;
    /* border-radius: 10px; */
    margin-bottom: 6px;
    margin-top: 5px;
    object-fit: contain;
}
.nowplaying p{
    margin-bottom: 5px;
}
.lyricheading{
    margin: 0 10px;
}
.lyricheading h2{
    font-size: 2.4rem;
}
.lyricheading h4{
    font-size: 1.2rem;
    color: #b3b3b3;
}
.lyricheading p{
    font-size: 1.8rem;
}
.selecttranslate{
    margin-top: 20px;
    font-size: 1.4rem;
}
.selecttranslate select{
    padding: 4px;
    border-radius: 20px;
    background-color: #b3b3b3;
}

.lyricsdiv{
    height: 50vh;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background-color: #2c2c2c;
    overflow-y: scroll;
    overflow-x: auto;
}

@media (min-height: 766px) {
    .main{
      height: 603px;
    }
    .lyricsBox{
        height: 685px;
    }
}
@media (min-height: 820px) {
    .main{
        height: 650px;
      }
      .lyricsBox{
          height: 735px;
      }
  }
@media (max-width: 1510px){
    .lyricheading img{
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 1218px){
    .lyricheading img{
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 1018px){
    .lyricheading img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 849px){
    .lyricsBox{
        width: 55vw;
    }
    .search{
        width: 40%;
    }
    
}
@media (max-width: 814px) {
    .lyricsBox{
        position: absolute;
        right: 0px;
        width: 230px;
    }
    .lyricheading img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 623px){
    .main{
        height: 100vh;
    }
    .lyricsBox{
        position: fixed;
        right: 0px;
        bottom: 0;
        width: 230px;
    }
}

@media (max-width: 469px){
    .main{
        height: 220vh;
    }
    .right{
        width: 180vw;
    }
    .cardcontainer{
        gap: 6px;
        flex-wrap: wrap;
        height: 30vh;
    }
}